/* styles.css */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
    --primary-color: #75bdf7; /* Change this to your desired primary color */
    --secondary-color: #2f6ed3; /* Change this to your desired secondary color */
    --tertiary-color: #000; /* Change this to your desired tertiary color */
    --quaternary-color: #ccc; /* Change this to your desired quaternary color */
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li,
a,
button {
    font-family: "Open Sans", sans-serif;
    /* /* font-weight: 400; */
    font-size: 13px;
    /* color: var(--secondary-color); */
    text-decoration: none;
    border: none;
}

/* Basic styles for the navigation bar */

.nav {
    /* background-color: #2f6ed3; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #efefeffe; /* Change this to your desired background color */
    /* color: white; Change text color to contrast with your background */
}

/* Style for the logo */
.logo img {
    width: 50px; /* Adjust the width as needed */
    height: auto;
    border-radius: 150px;
}

/* Style for the headers in the middle */
.headers {
    text-align: center;
    /* display: flex; */
    /* justify-content: space- */
}

.headers h1 {
    font-size: 14px;
    margin: 0 10px;
}

/* Style for the icon on the right */
.icon img {
    width: 30px; /* Adjust the width as needed */
    height: auto;
}
